/* CSS RESETS */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: calc(1em + 0.5rem);
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

html, body {
  width: 100%;
  height: 100%;
}
 
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
  font-family: inherit;
  font-size: 100%;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* 
  10. Table reset styles 
*/

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
  11. Initial font family settings 
*/

body {
  font-family: system-ui, sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 0.95rem;
}

/* Page Layout */

:root {
  --main-background-base-primary: #fff;
  --main-background-base-secondary: #eef7ff;
  --font-size-body: 0.95em;
  --font-size-subtitle: 1em;
  --content-primary: #202020;
  --text-secondary-color: #667;
  --sidebar-spacing-xsmall: 0.3em;
  --sidebar-spacing-small: 0.5em;
  --sidebar-spacing-medium: 0.9em;
  --sidebar-spacing-large: 1em;
  --sidebar-border-radius-small: 5px;
  --main-spacing-xsmall: 0.3em;
  --main-spacing-small: 0.5em;
  --main-spacing-medium: 0.9em;
  --main-spacing-large: 1em;
  --main-spacing-xlarge: 1.2em;
  --main-spacing-xxlarge: 2em;
  --main-border-radius-small: 5px;
  --main-view-header-height: calc(56px + 0px);
  --transparent-color: transparent;
  --button-font-size: 0.9rem;
  --button-height: 2em;
  --button-width: 2em;
  --darker-red: #a80046;
  --lighter-red: #dd0760;
  --lr-padding: 5px;
  --link-color: #202020;
  --font-weight-medium: 600;
  --menu-button-width: 24px;
  --sidebar-item-hover: #efedf2;
  --sidebar-item-darker-hover: #e1dfe3;
  --sidebar-item-active: #eed1dd;
  --main-item-hover: #f2efed;
  --sidebar-toggle-transition-duration: 0.3s;
  --sidebar-toggle-transition-function: cubic-bezier(.4,0,.2,1);
  --main-button-hover-text: #1a1a1a;
  --main-button-hover-background: rgba(0,0,0,.04);
  --main-container-side-padding: 3.4em;
  --main-container-max-width: 800px;
  --main-container-divider: #eee;
  --main-circle-diameter: 18px;
  --check: #999;
  --tint: #999;
  --animation-shortest: .15s;
  --ease-in: cubic-bezier(.4,0,1,1);
  --task-list-item-padding-y: 8px;
  --task-action-buttons-right-shift: 30px;
  --modal-padding-top: 13vh;
  --editor-max-width: 800px;
}

#todolist_app {
  display: flex;
  flex-direction: column;
}

#todolist_app, body, html {
  padding: 0;
  overflow: hidden;
}

.entire-window-container {
  background-color: var(--main-background-base-secondary);
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-sidebar-container {
  display: flex;
  position: relative;
  width: 280px;
  max-width: 420px;
  min-width: 210px;
  flex-shrink: 0;
  height: 100vh !important;
  user-select: none !important;
}

.sidebar-common-css {
  background-color: initial;
  border: 0;
  font-family: inherit;
  font-size: var(--font-size-body);
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-username {
  margin: var(--sidebar-spacing-medium);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.sidebar-username span {
  color: var(--content-primary);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: var(--font-weight-medium);
}

.sidebar-add-task {
  margin-left: var(--sidebar-spacing-medium);
  margin-right: var(--sidebar-spacing-medium);
  display: flex;
}

.buttonish-elem {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  font-weight: var(--font-weight-medium);
  border: 1px solid transparent;
  border-radius: 3px;
  max-width: 100%;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.sidebar-box-background {
  padding-top: var(--sidebar-spacing-xsmall);
  padding-bottom: var(--sidebar-spacing-xsmall);
  border-radius: var(--sidebar-border-radius-small);
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.sidebar-box-background-no-trans {
  padding-top: var(--sidebar-spacing-xsmall);
  padding-bottom: var(--sidebar-spacing-xsmall);
  border-radius: var(--sidebar-border-radius-small);
}

.lr-padding {
  padding: 0 var(--lr-padding);
}

.sidebar-add-task button {
  min-width: 60px;
  background-color: var(--darker-red);
  height: var(--button-height);
  font-size: var(--button-font-size);
  min-height: 1.9em;
  border: 1px solid var(--darker-red);
  padding: 0 0.6em;
  color: #fff; 
}

.sidebar-add-task button:hover {
  background-color: var(--lighter-red);
  border-color: var(--lighter-red);
}

.sidebar-add-task button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.sidebar-projects-list {
  flex-grow: 1;
  overflow: hidden;
  width: 280px;
  padding: var(--sidebar-spacing-medium);
  display: flex;
  flex-direction: column;
  list-style: none;
  vertical-align: baseline;
  margin: 0;
  margin-top: 0.5em;
  visibility: visible;
  position: relative;
}

.sidebar-projects-list-header {
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar-projects-list-header-flexbox {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 0.3em;
}

.sidebar-projects-list-header-flexbox:hover {
  background: var(--sidebar-item-hover);
}

.sidebar-projects-list-header-flexbox a {
  outline-offset: -2px;
  margin-left: calc(var(--sidebar-spacing-small) * -1);
  margin-bottom: calc(var(--sidebar-spacing-small) * -1);
  margin-top: calc(var(--sidebar-spacing-small) * -1);
  padding-left: var(--sidebar-spacing-small);
  display: flex;
  flex-grow: 1;
  align-items: center;
  align-self: stretch;
  text-decoration: none;
  overflow: hidden;
}


/* All links */
a {
  color: var(--link-color);
}

.sidebar-projects-list-header-text {
  display: flex;
  overflow: hidden;
  align-items: baseline;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-secondary-color);
  font-weight: var(--font-weight-medium);
  padding-right: 4px;
}

.sidebar-projects-list-header:hover .sidebar-projects-add button:hover {
  background-color: var(--sidebar-item-darker-hover);
}

.sidebar-projects-add {
  flex-shrink: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.sidebar-projects-add button {
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  color: var(--text-secondary-color);
  font-weight: 100;
}

.sidebar-projects-list-titles {
  height: auto;
  overflow: visible;
  min-height: 0;
  transition-property: height;
  transition-duration: .2s;
  display: flex;
  width: 100%;
}

#sidebar-projects-list {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.sidebar-project-list-item {
  overflow-anchor: none;
  position: relative;
  list-style: none;
  position: relative;
}

.sidebar-project-list-item:hover:not(.sidebar-active) {
  background: var(--sidebar-item-hover);
}

.sidebar-active {
  background: var(--sidebar-item-active);
}

.sidebar-project-list-item-container {
  display: flex;
  align-items: center;
  padding-right: 2px;
  max-width: 100%;
  border-radius: var(--sidebar-border-radius-small);
  align-items: center;
  flex-grow: 1;
}

.sidebar-project-list-item-container a {
  display: flex;
  padding: 5px;
  overflow: hidden;
  border-radius: var(--sidebar-border-radius-small);
  flex: 1;
  align-items: center;
  text-decoration: none;
}

.sidebar-project-list-item-container a span {
  word-break: break-word;
  word-wrap: anywhere;
  padding: 3px 0 3px 10px;
  font-size: 14px;
  line-height: 16px;
}

.sidebar-project-list-item-length {
  display: flex;
  align-items: center;
  width: 24px;
}

.sidebar-project-list-item-length span {
  width: var(--menu-button-width);
  height: var(--menu-button-width);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: right;
  line-height: 24px;
  color: #7f7f7f;
  font-size: 0.8rem;
}

/* Main Container */

.main-container {
  background: var(--main-background-base-primary);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  position: relative;
  container: multi-select-container/inline-size;
}

#content {
  background: var(--main-background-base-primary);
  border-color: var(--main-background-base-primary);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 380px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity .25s cubic-bezier(.4,0,.6,1);
}

#content.no-projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container > main {
  height: 100%;
  scroll-padding: var(--main-view-header-height)0 var(--main-spacing-xlarge);
}

.my-project-view-container {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
}

.my-project-view-container-2 {
  width: 100%;
  flex: auto;
  display: flex;
  flex-wrap: nowrap;
} 

.my-project-view-container-3 {
  height: 100%;
  min-width: 0;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.my-project-view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.projects-container-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 56px;
  z-index: 3;
  grid-gap: var(--main-spacing-small);
  align-items: stretch;
  top: 0;
  border-bottom: 1px solid transparent;
  padding-left: var(--main-spacing-medium);
  padding-right: var(--main-spacing-medium);
  flex-shrink: 0;
  position: sticky;
  position: -webkit-sticky;
}

.projects-breadcrumbs {
  grid-column: 1;
  transition: margin-left var(--sidebar-toggle-transition-duration) var(--sidebar-toggle-transition-function);
  margin-left: 0;
  align-items: center;
  display: flex;
}

.my-projects-breadcrumb {
  padding: 0 var(--main-spacing-xsmall);
  border: 0;
  color: var(--text-secondary-color);
  background-color: transparent;
  height: var(--button-height);
  font-size: calc(var(--button-font-size) - 1px);
  min-width: 0 !important;
  line-height: var(--button-height);
  width: auto;
}

.my-projects-breadcrumb span {
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: inherit;
  text-align: center;
  overflow: hidden;
}

.my-projects-slash {
  color: var(--text-secondary-color);
}

.projects-menu-items {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.projects-menu-items button:hover {
  color: var(--main-button-hover-text);
  background-color: var(--main-button-hover-background)
}

.edit-project-button,
.delete-project-button {
  color: var(--text-secondary-color);
  font-size: calc(var(--button-font-size) - 1px);
}

.edit-project-button span,
.delete-project-button span {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: inherit;
}

.delete-project-button span {
  color: var(--lighter-red);
}

.large-header-container {
  transition: opacity .5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-header-container-2 {
  margin: 6px var(--main-container-side-padding) 9px;
  max-width: var(--main-container-max-width);
  gap: var(--main-spacing-small);
  width: 100%;
  flex-grow: 1;
}

.large-header-text {
  line-height: 35px;
  font-weight: 700;
  font-size: 1.7rem;
  border-radius: 5px;
  border: 1px solid transparent;
}

.project-list-view-container {
  min-height: 86px;
  padding-left: var(--main-container-side-padding);
  padding-right: var(--main-container-side-padding);
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
}

.project-list-view-container[data-empty-view=false] {
  padding-bottom: 5.25em;
}

.section-list {
  max-width: var(--main-container-max-width);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.project-list-view {
  margin-top: 5px;
  margin-bottom: 0 !important;
  /* margin: 0; */
  padding: 0;
  list-style-type: none;
}

.project-tasks {
  position: relative;
  min-height: fit-content;
  /* height: 86px; */
}

.list-holder {
  top: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}

.project-items-container {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.project-item {
  overflow-anchor: none;
  touch-action: manipulation;
  border-bottom: 1px solid var(--main-container-divider);
  list-style: none;
  display: flex;
  position: relative;
  opacity: 1;
  transition: opacity 1s ease-out; /* Fades out over 1 second */
}

.proj-item-container {
  border-radius: 5px;
  width: 100%;
  margin-left: -8px;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  padding: 0 8px;
  position: relative;
}

.proj-item-container-flex {
  display: flex;
  flex-grow: 1;
  vertical-align: baseline;
}

.task-blank-space {
  display: flex;
  flex-wrap: nowrap;
  width: 27px;
  padding-right: 3px;
  position: absolute;
  top: 7px;
  left: -16px;
}

/*button*/
.task-checkbox {
  --bounding-box-size: 24px;
  z-index: 1;
  margin: 8px 6px 0 -3px !important;
  width: var(--bounding-box-size);
  height: var(--bounding-box-size);
  cursor: pointer;
  display: grid;
  grid-template-areas: "center" var(--bounding-box-size);
  align-items: center;
  justify-items: center;
  flex-shrink: 0;
  padding: 0;
}

.buttonish-elem-2 {
  color: #202020;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 13px;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.button-background {
  border-width: 1px;
  z-index: 1;
  background-color: transparent;
  opacity: 0.1;
  grid-area: center;
  overflow: hidden; 
  height: var(--main-circle-diameter);
  width: var(--main-circle-diameter);
  border: 2px solid transparent;
  border-radius: 50%;
}

.tb7nk6f {
  z-index: 3;
  color: var(--check);
  transition: opacity var(--animation-shortest)var(--ease-in);
  pointer-events: none;
  opacity: 0;
  grid-area: center;
}

.task-checkbox:hover .tb7nk6f {
  opacity: 1;
}

.button-border {
  border-width: 1px;
  border-style: solid;
  z-index: 2;
  border-color: var(--tint);
  grid-area: center;
  height: var(--main-circle-diameter);
  width: var(--main-circle-diameter);
  /* border: 2px solid transparent; */
  border-radius: 50%;
}

.task-item-content {
  padding: var(--task-list-item-padding-y) 0;
  margin-right: var(--task-action-buttons-right-shift);
  flex: 1;
}

.task-item-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.task-content {
  display: flex;
  font-size: var(--font-size-body);
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.65;
  vertical-align: baseline;
  overflow-wrap: break-word;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding: 1px 1px 1px 0;
  display: -webkit-box;
  overflow: hidden;
}

.task-description {
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.65;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 2px;
  font-size: 12px;
  display: -webkit-box;
  overflow: hidden;
  color: var(--text-secondary-color);
  text-decoration-color: var(--text-secondary-color);
}

.task-date-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 16px;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 16px;
  line-height: 16px;
  color: var(--text-secondary-color);
}

.task-date-container .date-icon {
  font-size: 12px;
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
  gap: calc(var(--main-spacing-small) / 2);
  margin: 0;
  line-height: 12px;
  overflow: hidden;
}

.task-date-container .date-icon {
  color: purple;
}

.date-icon svg {
  flex-shrink: 0;
  margin: 0;
  transform: none;
  vertical-align: middle;
}

.date-icon .date {
  line-height: 1.5;
  color: inherit;
  font-size: inherit;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.task-list-actions-container {
  height: 24px;
  margin-right: calc(-1 * var(--task-action-buttons-right-shift));
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  padding-left: 1em;
  position: absolute;
  top: 0;
  right: 0;
}

.project-item .task-list-actions-container button {
  opacity: 0;
}

.project-item:hover .task-list-actions-container {
  background-image: linear-gradient(to right, transparent 0,#fff 16px 100%);
}

.project-item:hover .task-list-actions-container button {
  opacity: 1;
}

.task-list-actions-container>button, .task-list-actions-container a {
  color: var(--text-secondary-color);
  font-size: calc(var(--button-font-size) - 2px);
  cursor: pointer;
  height: 24px;
  margin-left: var(--main-spacing-xsmall);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .1s; /* Faster transition */
} 

.task-list-delete-button {
  color: var(--lighter-red) !important;
}

.task-list-actions-container > button:hover {
  color: var(--main-button-hover-text);
  background-color: var(--main-button-hover-background);
}

.add-task-section {
  padding: 0 20px 0 1px;
}

.actions {
  color: #555;
}

.add-task-button {
  border-radius: 5px;
  width: 100%;
  margin-left: -8px;
  text-align: left;
  color: gray;
  white-space: nowrap;
  padding: 0 8px 8px 9px;
  font-size: 0.9rem;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.add-task-section button {
  transition: opacity .2s ease-in-out;
}

.add-task-button .icon_add {
  color: var(--lighter-red);
  vertical-align: 7px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  margin-right: 7px;
  transform: translateY(8px);
}

.add-task-button:hover {
  color: var(--lighter-red);
  -webkit-text-decoration: none;
  text-decoration: none;
}

.add-task-button:hover .icon_add {
  color: #fff;
  background-color: var(--lighter-red);
}

.add-task-button:hover .icon_add svg {
  transform: scale(.846); /* makes svg icon smaller */
}

/* Add Task modal */
#addTaskDialog[open],
#addProjectDialog[open] {
  position: fixed;
  inset: 0 0 0 0;
  margin: auto;
}

#addTaskDialog,
#addProjectDialog {
  width: 80%;
  margin: 5em auto;
  width: clamp(300px, 80%, 475px);
  min-width: max-content;
  padding: 0;
  border: none;
  border-radius: 10px; 
  isolation: isolate;
  animation: .3s cubic-bezier(.4,0,.2,1) modal-dialog;
  max-width: 100%;
  transition: width .2s ease-in-out, box-shadow .5s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .16);
  overflow: hidden;
  outline: none !important;
}

@keyframes modal-dialog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#addTaskDialog::backdrop,
#addProjectDialog::backdrop {
  background-color: rgba(0, 0, 0, .4);
}

.form-section {
  max-height: calc(100vh - 1 * var(--modal-padding-top));
  width: 100%;
  height: 100%;
  overflow: auto;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form .form-header {
  padding: var(--main-spacing-small);
  padding-left: var(--main-spacing-large);
}

.form .form-header-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--main-spacing-large)
}

.form .form-header-title-container {
  flex-grow: 1;
  min-width: 0;
  flex-basis: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

h1.form-header-text {
  font-size: calc(var(--font-size-subtitle) + 1px);
  font-weight: var(--font-weight-medium);
  color: var(--content-primary);
}

.form .form-close-container {
  flex-basis: content;
  min-width: 0;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 32px;
}

.form .form-close-button {
  transition-property: box-shadow, border;
  transition-duration: .3s;
  transition-timing-function: ease;
  width: var(--button-height);
  height: var(--button-height);
  padding: 0;
  color: var(--text-secondary-color);
  background-color: transparent;
  outline: none !important;
}

.form .form-close-button:hover {
  background-color:rgba(0, 0, 0, .04);
}

.form .form-close-button svg {
  pointer-events: none;
}

.form-header-line {
  border: 0;
  border-bottom: 1px solid #eee;
}

.form .main-form {
  overflow: auto;
  flex-grow: 0;
}

.form .main-form-container-flex {
  padding: var(--main-spacing-large);
  padding-bottom: calc(var(--main-spacing-xlarge) + 5px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  gap: calc(var(--main-spacing-large) + 1px);
}

.form .main-form-container-flex * {
  outline: none !important;
}

.form .form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--main-spacing-xsmall);
  flex-grow: 1;
}

.form .form-row label {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 2px;
  line-height: 21px;
  letter-spacing: -.10px;
  font-weight: 700;
}

.form .form-row input,
.form .form-row select {
  --main-input-wrapper-height: 32px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  overflow: clip;
  height: 32px;
  display: flex;
  align-items: center;
  transition-property: box-shadow, border;
  transition-duration: .3s;
  transition-timing-function: ease;
  padding: calc((30px - 14px - 2px) / 2) 8px;
  text-overflow: ellipsis;
  background: 0 0;
  font-size: var(--font-size-body);
  line-height: calc(var(--font-size-body) + 7px);

}

.form .form-row select {
  padding: 0 4px;
}

.form-buttons-line {
  border: none;
  border-bottom: 1px solid #eee;
}

.form .form-buttons-flex {
  padding: var(--main-spacing-large);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--main-spacing-large);
}

.form .form-buttons-flex-2 {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}

.form footer .button {
  min-width: 68px;
  color: #444;
  background-color: rgba(0, 0, 0, .04);
  text-align: center;
  padding: 0 12px;
  font-size: 13px;
  height: 32px;
  width: auto;
  border-radius: 5px;
}

.form footer .button:hover {
  background-color: rgba(0, 0, 0, .07);
}

.form footer .submit-button {
  color: #fff;
  background-color: var(--lighter-red);
}

.form footer .submit-button:hover {
  background-color: var(--darker-red);
}

/* Projects page CSS */

.project-page-list-header-container {
  position: sticky;
  position: -webkit-sticky;
  top: 56px, 63px;
  padding-left: var(--main-container-side-padding);
  padding-right: var(--main-container-side-padding);
  padding-top: var(--main-spacing-small);
}

.projects-page-list-blank-space {
  max-width: var(--editor-max-width);
  width: 100%;
  margin: 0 auto;
  padding-top: var(--main-spacing-xxlarge);
  padding-bottom: var(--main-spacing-xsmall);
}

.projects-page-list-header {
  margin-top: var(--main-spacing-medium);
   margin-bottom: var(--main-spacing-large);
  border-bottom: 1px solid #eee;
  max-width: var(--editor-max-width);
  width: 100%;
  margin: 0 auto;
}

.projects-page-list-header-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.projects-page-list-counter {
  display: flex;
  min-width: 0;
  flex-basis: auto;
  flex-grow: 1;
  height: calc(var(--button-height) + 10px);
  align-items: center;
}

.projects-list-counter-text {
  font-weight: var(--font-weight-medium);
  font-size: 0.9rem;
}

.project-page-add-project-button-container {
  display: flex;
  margin-left: var(--main-spacing-medium);
  /* margin-right: var(--main-spacing-medium); */
}

.add-project-button {
  min-width: 60px;
  background-color: var(--sidebar-item-hover);
  height: var(--button-height);
  font-size: var(--button-font-size);
  min-height: 1.9em;
  border: var(--sidebar-item-hover);
  padding: 0 0.8em;
  color: rgb(72, 72, 72);
  font-size: 0.95rem;
}

.add-project-button:hover {
  background-color: var(--sidebar-item-darker-hover);
}

.project-page-list-of-projects-container {
  padding-left: var(--main-container-side-padding);
  padding-right: var(--main-container-side-padding);
  padding-top: var(--main-spacing-medium);
}

.project-page-list-of-projects-container * {
  scroll-margin-top: calc(var(--main-view-header-height) + var(--main-spacing-xsmall));
}

.project-page-projects-ul {
  max-width: var(--editor-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.project-page-project-li {
  padding-left: 0;
  scroll-margin-top: calc(var(calc(56px + 0) + var(--main-spacing-xsmall)));
  display: flex;
  position: relative;
  align-items: center;
}

.project-page-project-flex {
  min-width: 0;
  display: flex;
  position: relative;
  flex-grow: 1;
  border-radius: 10px;
  padding-right: (var(--main-spacing-medium));
}

.project-page-project-item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: var(--main-spacing-medium);
  border-radius: 10px;
  text-decoration: none;
}

@media (max-width: 992px) {
  .project-page-project-item  {
      min-width: 175px;
  }
}

.project-page-project-item-div {
  scroll-margin-top: calc(var(--main-view-header-height) + var(--main-spacing-xsmall));
  /* gap: var(--main-spacing-xsmall); */
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 992px) {
  .project-page-project-item-text  {
      min-width: 250px;
  }
}
.project-page-project-item-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--main-spacing-xsmall);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: var(--main-spacing-xsmall);
  font-weight: normal;
}

.project-page-list-actions-container {
  min-width: 24px;
  /* max-width: 24px; */
  margin-right: 5px;
  margin-left: var(--main-spacing-medium);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.project-page-list-actions-container button {
  opacity: 0;
}

.project-page-project-li:hover .project-page-list-actions-container button {
  opacity: 1;
}

.project-page-list-actions-container>button, .project-page-list-actions-container a {
  color: var(--text-secondary-color);
  font-size: calc(var(--button-font-size) - 2px);
  cursor: pointer;
  height: 24px;
  margin-left: var(--main-spacing-xsmall);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .1s; /* Faster transition */
} 

.project-page-list-delete-button {
  color: var(--lighter-red) !important;
}

.project-page-project-flex:hover {
  background: rgba(0, 0, 0, .04);
}

.project-page-project-flex:hover:not(:focus-visible):before {
  content: "";
  background: #fff;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
}

.project-page-project-flex:hover:not(:focus-visible):after {
  top: auto;
  bottom: -1px;
  content: "";
  background: #fff;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
}

.project-page-list-actions-container > button:hover {
  color: var(--main-button-hover-text);
  background-color: var(--main-button-hover-background);
}

.footer {
  text-align: center;
  padding-bottom: 1em;
}

.footer a {
  color: var(--darker-red);
  text-decoration: none;
}

@media screen and (max-width: 46.875em) {
  .app-sidebar-container {
    margin-left: calc(-1 * 280px);
    transition: margin-left .3s cubic-bezier(.4,0,.2,1);
    display: flex;
    position: relative;
  }

  .project-item .task-list-actions-container button,
  .project-page-list-actions-container>button {
    opacity: 0.8;
  }

  .edit-project-button, .delete-project-button {
    font-size: calc(var(--button-font-size) - 2px);
  }
}